.wrapPaperItem {
    .text {
        text-align: left;
        margin: 2px 0px;
        margin-right: 25px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            color: #8b4;
        }
    }

    .wrapInf {
        display: flex;

        .pic {
            width: 180px;
            cursor: pointer;
        }

        .text2 {
            margin-left: 10px;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 25px;
            -webkit-line-clamp: 5;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            height: 128px;
        }
    }

    .wrapText {
        text-align: left;

        .text3 {
            margin-top: 5px;
            margin-left: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                color: #8b4;
            }
        }
    }
}