.wraptable {
    text-align: left;
    display: flex;

    .tableText {
        cursor: pointer;
        -webkit-line-clamp: 2;
        line-height: 25px;
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;


        &:hover {
            color: #8b4;
        }
    }
}