.navWrap {
  display: flex;
  color: #fff;
  justify-content: space-between;

  .logoNav {
    height: 66px;
    cursor: pointer;
  }

  .navTagName {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .navTagNames {
    .navMenuuser {
      display: flex;
      justify-content: space-between;
      width: 140px;
    }
  }
}

.navWrapSec {
  display: flex;
  margin: 0 10px;
  color: #fff;
  justify-content: end;

  .navTagNameSec {
    margin: 0 20px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}