.wrapItemBody {
  color: #000;
  margin-top: 20px;
  margin-left: 20px;
  padding: 0 10px;
  border-radius: 3px;
  min-height: 215px;

  img {
    min-width: 100px;
    min-height: 309px;
    width: 389px;

  }

  .wrapItemText {
    display: flex;

    .itemText {
      margin: 0 3px;
      padding: 0 5px;
      border: 1px;
      border-radius: 3px;
      background-color: #eee;
      cursor: pointer;

      &:hover {
        color: #8b4;
      }
    }

    .itemText-head {
      color: #fff;
      background-color: #8b4;
      margin: 0 3px;
      padding: 0 5px;
      border: 1px;
      font-weight: 600;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        color: #000;
      }
    }
  }

  .textItem {
    font-weight: 700;
    text-align: left;
    padding: 0 5px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #8b4;

    &:hover {
      cursor: pointer;
      color: #8b4;
    }
  }

  .wrapbodyItem {
    display: flex;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;



    .content {
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 25px;
      -webkit-line-clamp: 3;
      height: 75px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .bodyItem2 {
      margin-top: 3px;
      font-size: 12px;

      &:hover {
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
  }

  .wrapTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;

    .title1 {
      &:hover {
        cursor: pointer;
        color: #8b4;
      }
    }
  }

  .wrapTitleSec {
    .titleSec {
      &:hover {
        cursor: pointer;
        color: #8b4;
      }
    }
  }
}