.wrapHeadDetail {

    .wrapTagNameDetail {
        display: flex;
        margin-top: 3px;

        .DetailTagName {
            margin: 0 3px;
            padding: 0 5px;
            border: 1px;
            border-radius: 3px;
            background-color: #eee;
            cursor: pointer;

            &:hover {
                color: #fff;
                background-color: #666;
            }
        }
    }


}